<% layout('layouts/layout') -%>
<h1>Phòng: <%= room_name%></h1>
<a href="/caro" class="btn btn-default roomlist" role='button' style="display: block;width: 100px;margin-bottom: 10px">Room list</a>
<div class='game-caro'>
    <div id='start'>
        <button class='btn btn-default start disabled'>Start</button>
        <button class='btn btn-default playpc disabled'>Play with computer</button>
    </div>
    <h2 class='res'></h2>
    <div class='ban_co'>
        
    </div>
    <div class='user'>
        <div class='user1'>
            <img src="" class='photo photo1'>
            <button class='btn btn-default ready' id='ready1'>Ready</button>
            <button class='btn btn-default video disabled' id='videoCall1'>Call</button>
            <p class='name name1'></p>

        </div>
        <div class='user2'>
            <button class='btn btn-default ready' id='ready2'>Ready</button>
            <button class='btn btn-default video disabled' id='videoCall2'>Call</button>
            <img src="" class='photo photo2'>
            <p class='name name2'></p>
        </div>
    </div>    
</div>
<div class="chat">
	<div class='khung'></div>
	<input type="text" class='send'>
</div>
<div class="photoPic" style="display: none"><%= user.photoPic%></div>

<div class="modal fade" id='myModal' tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Video calling</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id='answerCalling'>Answer</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
var room = <%= room_number%>;
var id = '<%= user.id %>';
var username = '<%= user.name %>';
var photoPic = $('.photoPic').text();
var luot_choi = 1;
var MAX_H = 17;
var MAX_C = 25;
var bang = new Array(MAX_H);
for (var j = 0; j < MAX_H; j++) {
    bang[j] = new Array(MAX_C);
    for (var i = 0; i < MAX_C; i++) {
        bang[j][i] = 0;
    }
}

var socket = io.connect("/caro");

$('.roomlist').click(function (e) {
    e.preventDefault();
    socket.emit('disconnect');
    window.location.href = '/caro';
})

if (performance.navigation.type == 1) {
    window.location.href = '/caro';
}

socket.on('connect',function () {
    socket.emit('joinroom',{room: room, user: {id: id, name: username, photo: photoPic}});
})

$('.ready').click(function (e) {
    if ($(e.target).attr('id') == 'ready1'){
        socket.emit('ready',{room: room, user: username, photo: photoPic, vt: 1});
    }
    else{
        socket.emit('ready',{room: room, user: username, photo: photoPic, vt: 2});
    }
})

$('.send').keypress(function(e) {
    if (e.keyCode == 13) {
        socket.emit('tinnhan', { noidung: $('.send').val(), user: username, room: room });
        updateMessage(username, $('.send').val());
    }
})

socket.on('tinnhan', function(data) {
    var msg = JSON.parse(data);
    updateMessage(msg.user, msg.noidung);
});

socket.on('msgg', function (data) {
    $('.khung').append("<p><b>" + data.user + " </b>" + data.noidung + "</p>");
    $('.khung').scrollTop($('.khung').prop('scrollHeight'));
})

function updateMessage(user, noidung) {
    $('.send').val("");
    $('.khung').append("<p><b>" + user + ": </b>" + noidung + "</p>");
    $('.khung').scrollTop($('.khung').prop('scrollHeight'));
}

socket.on('ready', function (data) {
    let n = data.ready.length;
    $('#ready1').show();
    $('#ready2').show();
    $('.name1').html('');
    $('.name2').html('');
    $(".photo1").hide();
    $(".photo2").hide();
    if (n == 1){
        $('#ready1').hide();
        $('.name1').html(data.ready[0].user);
        $(".photo1").show();
        $(".photo1").attr("src", data.ready[0].photo);
        $(".photo2").attr("src", '');
        if (data.ready[0].user == username){
            $('#ready2').addClass('disabled');
            $('#start').show();
            $('.start').addClass('disabled');
            $('.playpc').removeClass('disabled');
        }
    }
    if (n == 2){
        $('#ready1').hide();
        $('.name1').html(data.ready[0].user);
        $('#ready2').hide();
        $('.name2').html(data.ready[1].user);
        $(".photo1").show();
        $(".photo2").show();
        $(".photo1").attr("src", data.ready[0].photo);
        $(".photo2").attr("src", data.ready[1].photo);
        if (data.ready[0].user == username || data.ready[1].user == username){
            $('#start').show();
            $('.start').removeClass('disabled');
            $('.playpc').addClass('disabled');
            $('.video').removeClass('disabled');
        }
    }
})

$('.start').click(function () {
    socket.emit('luotchoi', {room: room});
    $('#start').hide();
    $('.res').hide();
})

socket.on('luotchoi', function(data) {
    $('#start').hide();
    $('.res').hide();

    for (var j = 0; j < MAX_H; j++) {
        for (var i = 0; i < MAX_C; i++) {
            bang[j][i] = 0;
        }
    }

    if ($('.ban_co').empty()) {
        for (var j = 0; j < MAX_H; j++) {
            for (var i = 0; i < MAX_C; i++) {
                bang[j][i] = 0;
                $(".ban_co").append("<img class='square' id='" + (i + j * MAX_C) + "' src='../img/Blank.jpg' width='30px'>");
            }
        }
    }

    luot_choi = data.luotchoi;
    var ready = data.ready;
    var luot_di;
    if (username == ready[luot_choi-1].user)
        luot_di = true;
    else luot_di = false;
    $('.name1').removeClass('chugreen');
    $('.name2').removeClass('chugreen');
    $('.name' + luot_choi).toggleClass('chugreen');
    var number = 0;
    socket.on("luotdi", function(data) {
        $("#" + number).removeClass('bordergreen');
        luot_choi = data.luotchoi;
        $('.name1').toggleClass('chugreen');
        $('.name2').toggleClass('chugreen');
        if (username == ready[data.luotchoi-1].user)
            luot_di = true;
        else luot_di = false;
        if (true) {
            number = data.odi;
            hang = parseInt(number / MAX_C);
            cot = number % MAX_C;
            if (luot_choi == 2) {
                $("#" + number).replaceWith("<img id='" + number + "' name='x' src='../img/X.jpg' width='30px'>");
                bang[hang][cot] = 3 - luot_choi;
            } else
            if (luot_choi == 1) {
                $("#" + number).replaceWith("<img id='" + number + "' name='o' src='../img/O.jpg' width='30px'>");
                bang[hang][cot] = 3 - luot_choi;
            }
            $("#" + number).addClass('bordergreen');

            if (check_doc(bang, hang, cot, 3 - luot_choi) || check_ngang(bang, hang, cot, 3 - luot_choi) || check_cheo1(bang, hang, cot, 3 - luot_choi) || check_cheo2(bang, hang, cot, 3 - luot_choi)) {
                var win = ready[0].user==username?ready[1].user:ready[0].user;
                $(".res").replaceWith("<div class='res'><h1>" + win + " thắng</h1></div>");
                $("#start").show();
                luot_di = false;
            }
        }
    });
    $(".square").click(function(e) {
        if (luot_di && (data.ready[0].user == username || data.ready[1].user == username)) {
            $('.name1').toggleClass('chugreen');
            $('.name2').toggleClass('chugreen');
            $("#" + number).removeClass('bordergreen');
            number = $(e.target).attr('id');
            hang = parseInt(number / MAX_C);
            cot = number % MAX_C;
            if (luot_choi == 1) {
                $(e.target).replaceWith("<img id='" + number + "' name='x' src='../img/X.jpg' width='30px'>");
                bang[hang][cot] = luot_choi;
                socket.emit('vuadi', { luotchoi: luot_choi, odi: number, room: room});
            } else
            if (luot_choi == 2) {
                $(e.target).replaceWith("<img id='" + number + "' name='o' src='../img/O.jpg' width='30px'>");
                bang[hang][cot] = luot_choi;
                socket.emit('vuadi', { luotchoi: luot_choi, odi: number, room: room });
            }
            luot_di = false;
            if (check_doc(bang, hang, cot, luot_choi) || check_ngang(bang, hang, cot, luot_choi) || check_cheo1(bang, hang, cot, luot_choi) || check_cheo2(bang, hang, cot, luot_choi)) {
                $(".res").replaceWith("<div class='res'><h1>" + username + " thắng</h1></div>");
                $("#start").show();
                luot_di = false;
            }
        }
    });

})
</script>
<script type="text/javascript" src="/js/AI_caro.js"></script>
<script type="text/javascript" src="/js/calMark.js"></script>
<script type="text/javascript" src="/js/ABMinimax.js"></script>
<script type="text/javascript" src="/js/bundle.js"></script>
